@model IEnumerable<IGrouping<int, GymBro.Models.TrainingModel>>

@{
    ViewData["Title"] = "Training List";
}

<h1>@ViewData["Title"]</h1>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@foreach (var yearGroup in Model)
{
    var year = yearGroup.Key;
    var chartId = $"chart-{year}";
    // Utworzenie listy miesięcy od 1 do 12.
    var months = Enumerable.Range(1, 12).ToList();
    // Pobieranie liczby treningów dla każdego miesiąca.
    var counts = months
        .Select(month => yearGroup.Count(t => t.TrainingDate.Month == month))
        .ToList();

    <h2>Rok: @year</h2>
    <canvas id="@chartId" width="400" height="200"></canvas>
    <script>
        var ctx = document.getElementById('@chartId').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(months)),
                datasets: [{
                    label: 'Ilość treningów',
                    data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(counts)),
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {}
        });
    </script>
}
