@{
    ViewData["Title"] = "Home Page";
    string displayedMonth = ViewBag.DisplayedMonth;
    int previousMonth = ViewBag.PreviousMonth;
    int previousYear = ViewBag.PreviousYear;
    int nextMonth = ViewBag.NextMonth;
    int nextYear = ViewBag.NextYear;
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-1">Welcome</h1>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3 text-center">
            @if (previousMonth > 0 && previousYear >= 2000)
            {
                <a asp-action="Index" asp-route-month="@previousMonth" asp-route-year="@previousYear" class="btn btn-primary">Poprzedni miesiąc</a>
            }
        </div>
        <div class="col-md-3 text-center">
            <span></span>
            <h2>@displayedMonth</h2>
        </div>
        <div class="col-md-3 text-center">
            @if (nextMonth <= DateTime.Now.Month && nextYear <= DateTime.Now.Year && nextYear >= DateTime.Now.Year)
            {
                <a asp-action="Index" asp-route-month="@nextMonth" asp-route-year="@nextYear" class="btn btn-primary">Następny miesiąc</a>
            }
        </div>
    </div>
</div>


<div class="grid-container">
    @foreach (var item in ViewBag.DaysOfWeekAndMonthDay)
    {
        var dayOfWeek = item.Key.Split(' ')[0];
        var dayOfMonth = item.Key.Split(' ')[1];
        var trainingExists = ViewBag.TrainingDates != null && ViewBag.TrainingDates.Contains(new DateTime(Convert.ToInt32(ViewBag.DisplayedYear), ViewBag.MonthNumber, item.Value).Date);

        <a href="@Url.Action("Index", "Training", new { dayOfMonth = dayOfMonth, month = ViewBag.MonthNumber, year = ViewBag.DisplayedYear })" 
           class="grid-item @(trainingExists ? "has-training" : "")">
            <span>@dayOfWeek</span>
            <br />
            <span>@dayOfMonth</span>
        </a>
    }
</div>


<style>
    .has-training {
        background-color: lightgreen;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr); /* 7 kolumn dla dni tygodnia */
        grid-gap: 10px;
        margin-top: 20px;
    }

    .grid-item {
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    
    .grid-item:hover {
        background-color: lightblue;
    }
</style>
