@model IEnumerable<GymBro.Models.TrainingModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Index Training</h2>

@if (ViewBag.SelectedDayOfWeek != null && ViewBag.SelectedDayOfMonth != null)
{
    <p>Jesteś w treningu dotyczącym dnia: @ViewBag.SelectedDayOfWeek, @ViewBag.SelectedDayOfMonth</p>
}

<div>
    @if (!DateTime.TryParse($"{ViewBag.SelectedDayOfMonth}/{DateTime.Now.Month}/{DateTime.Now.Year}", out DateTime selectedDate) || selectedDate.Date < DateTime.Now.Date)
    {
        <p>Nie możesz utworzyć treningu dla przeszłych dat.</p>
    }
    else
    {
        <a asp-action="CreateTraining" asp-controller="Training" class="btn btn-primary">Utwórz trening</a>
    }
</div>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Użytkownik ID</th>
        <th>Data treningu</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserId</td>
            <td>@item.TrainingDate</td>
        </tr>
    }
    </tbody>
</table>
