@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<GymBro.Models.TrainingModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between">
    <h1>Training day</h1>
    <form asp-controller="Training" asp-action="Delete" method="post">
        <input type="hidden" name="dayOfMonth" value="@ViewBag.SelectedDayOfMonth" />
        <input type="hidden" name="month" value="@ViewBag.DisplayedMonth" />
        <input type="hidden" name="year" value="@ViewBag.DisplayedYear" />
        <input type="hidden" name="trainingIds" value="" />
        @foreach (var item in Model)
        {
            <input type="hidden" name="trainingIds" value="@item.Id" />
        }
        <button type="submit" class="btn btn-danger">Delete Training</button>
    </form>

    
</div>

<h2>@ViewBag.SelectedDayOfMonth<span>.</span>@ViewBag.DisplayedMonth<span>.</span>@ViewBag.DisplayedYear</h2>

@if (!Model.Any())
{
    <form asp-controller="Training" asp-action="CreateInstant" method="post">
        <input type="hidden" name="dayOfMonth" value="@ViewBag.SelectedDayOfMonth" />
        <input type="hidden" name="month" value="@ViewBag.DisplayedMonth" />
        <input type="hidden" name="year" value="@ViewBag.DisplayedYear" />
        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
}
else
{
    <form asp-controller="Training" asp-action="AddExercise" method="post">
        <input type="hidden" name="dayOfMonth" value="@ViewBag.SelectedDayOfMonth" />
        <input type="hidden" name="month" value="@ViewBag.DisplayedMonth" />
        <input type="hidden" name="year" value="@ViewBag.DisplayedYear" />
        <div class="form-group">
            <label for="exerciseName">Exercise Name:</label>
            <input type="text" id="exerciseName" name="exerciseName" class="form-control" />
        </div>
        <!-- Przekazujemy tylko jeden konkretny identyfikator treningu -->
        <input type="hidden" name="trainingId" value="@Model.First().Id" />
        <button type="submit" class="btn btn-primary">Add Exercise</button>
    </form>
}

<div class="d-md-flex flex-wrap">
    @if (Model.Any())
    {
        var exerciseIndex = 1;
        var isLeftSide = true;

        @foreach (var training in Model)
        {
            if (training.Exercises != null && training.Exercises.Any())
            {
                foreach (var exercise in training.Exercises)
                {
                    <div class="col-md-6 p-1">
                        <div class="border border-secondary rounded p-1">
                            <h3>@(exerciseIndex). @exercise.ExerciseName</h3>
                            <form asp-controller="Training" asp-action="AddSeries" method="post">
                                <input type="hidden" name="dayOfMonth" value="@ViewBag.SelectedDayOfMonth" />
                                <input type="hidden" name="month" value="@ViewBag.DisplayedMonth" />
                                <input type="hidden" name="year" value="@ViewBag.DisplayedYear" />
                                <input type="hidden" name="trainingId" value="@training.Id" />
                                <input type="hidden" name="exerciseId" value="@exercise.Id" />
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <label for="repetitions">Repetitions:</label>
                                    <input type="text" id="repetitions" name="repetitions" class="form-control mb-2 w-25" />
                                
                                    <label for="weight" class="mb-2">Weight:</label>
                                    <input type="text" id="weight" name="weight" class="form-control mb-2 mr-2 w-25" />
                                    
                                    <button type="submit" class="btn btn-primary mb-2 w-10">Add Series</button>
                                </div>
                            </form>
                            @if (exercise.ExerciseSeries != null && exercise.ExerciseSeries.Any())
                            {
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Series Number</th>
                                        <th>Repetitions</th>
                                        <th>Weight</th>
                                        <th>Actions</th> <!-- Dodajemy nową kolumnę dla przycisków akcji -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @{
                                        var seriesIndex = 1;
                                        foreach (var series in exercise.ExerciseSeries)
                                        {
                                            <tr data-series-id="@series.Id">
                                                <td>
                                                    @seriesIndex
                                                </td>
                                                <td>
                                                    <span class="display-data">@series.Repetitions</span>
                                                    <input type="text" class="edit-data form-control" style="display: none;" value="@series.Repetitions" />
                                                </td>
                                                <td>
                                                    <span class="display-data">@series.Weight</span>
                                                    <input type="text" class="edit-data form-control" style="display: none;" value="@series.Weight" />
                                                </td>
                                                <td class="d-flex">
                                                    <button class="edit-button btn btn-primary">Edit</button>
                                                    <button class="delete-button btn btn-danger">Delete</button>
                                                    <button class="save-button btn btn-success" style="display: none;">Save</button>
                                                </td>
                                            </tr>
                                            seriesIndex++;
                                        }
                                    }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                    exerciseIndex++;
                }
            }
            else
            {
                <p>No exercises for this training.</p>
            }
        }
    }
    else
    {
        <p>No trainings for selected day.</p>
    }
</div>

<style>
    
    .table {
        table-layout: fixed;  /* Dodajemy tę linię */
    }
    td {
        word-wrap: break-word;  /* Dodajemy tę linię */
    }
    
</style>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $(".edit-button").click(function(){
            var tr = $(this).closest('tr');
            tr.find('.edit-button').hide();
            tr.find('.delete-button').hide();
            tr.find('.save-button').show();
            tr.find('.display-data').hide();
            tr.find('.edit-data').show();
        });

        $(".save-button").click(function(){
            var tr = $(this).closest('tr');
            var seriesId = tr.data('series-id');
            var repetitions = tr.find('.edit-data').eq(0).val();
            var weight = tr.find('.edit-data').eq(1).val();
        
            // Pobranie parametrów z aktualnego URL
            var urlParams = new URLSearchParams(window.location.search);
            var dayOfMonth = urlParams.get('dayOfMonth');
            var month = urlParams.get('month');
            var year = urlParams.get('year');
        
            // Wysyłanie żądania AJAX do serwera
            $.ajax({
                url: '/Training/UpdateSeries',
                method: 'POST',
                data: {
                    dayOfMonth: dayOfMonth,
                    month: month,
                    year: year,
                    seriesId: seriesId,
                    repetitions: repetitions,
                    weight: weight
                },
                success: function() {
                    tr.find('.edit-button').show();
                    tr.find('.delete-button').show();
                    tr.find('.save-button').hide();
                    tr.find('.display-data').eq(0).text(repetitions);
                    tr.find('.display-data').eq(1).text(weight);
                    tr.find('.display-data').show();
                    tr.find('.edit-data').hide();
                },
                error: function() {
                    alert('An error occurred while updating the series.');
                }
            });
        });
    });
    </script>
}